@font-face {
    font-family: "Roboto Bk";
    src: url('../font/Roboto/Roboto-Black.ttf');
}
@font-face {
    font-family: "Roboto Bk";
    src: url('../font/Roboto/Roboto-BlackItalic.ttf');
}
@font-face {
    font-family: "Roboto";
    src: url('../font/Roboto/Roboto-Bold.ttf');
}
@font-face {
    font-family: "Roboto Cn";
    src: url('../font/Roboto/Roboto-BoldCondensed.ttf');
}
@font-face {
    font-family: "Roboto Cn";
    src: url('../font/Roboto/Roboto-BoldCondensedItalic.ttf');
}
@font-face {
    font-family: "Roboto";
    src: url('../font/Roboto/Roboto-BoldItalic.ttf');
}
@font-face {
    font-family: "Roboto Cn";
    src: url('../font/Roboto/Roboto-Condensed.ttf');
}
@font-face {
    font-family: "Roboto Cn";
    src: url('../font/Roboto/Roboto-CondensedItalic.ttf');
}
@font-face {
    font-family: "Roboto";
    src: url('../font/Roboto/Roboto-Italic.ttf');
}
@font-face {
    font-family: "Roboto Lt";
    src: url('../font/Roboto/Roboto-Light.ttf');
}
@font-face {
    font-family: "Roboto Lt";
    src: url('../font/Roboto/Roboto-LightItalic.ttf');
}
@font-face {
    font-family: "Roboto Lt";
    src: url('../font/Roboto/Roboto-Medium.ttf');
}
@font-face {
    font-family: "Roboto Lt";
    src: url('../font/Roboto/Roboto-MediumItalic.ttf');
}
@font-face {
    font-family: "Roboto";
    src: url('../font/Roboto/Roboto-Regular.ttf');
}
@font-face {
    font-family: "Roboto Th";
    src: url('../font/Roboto/Roboto-Thin.ttf');
}
@font-face {
    font-family: "Roboto Th";
    src: url('../font/Roboto/Roboto-ThinItalic.ttf');
}